<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Favicon -->

  <!-- Preload combined Google Fonts request -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Inter:wght@400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Inter:wght@400;700&display=swap">
  </noscript>
  
  <!-- Inline Critical CSS with Fallback Fonts -->
  <style>
      body {
         font-family: 'Inter', Arial, sans-serif;
      }
      code {
         font-family: 'Roboto Mono', monospace;
      }
      /* Additional critical styles can go here */
  </style>
  
  <!-- Link to main stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  
  <!-- Toggle theme JS (if applicable) -->
  {% if site.theme_config.appearance_toggle %}
    {% include toggle_theme_js.html %}
  {% endif %}

  <!-- Custom head content -->
  {%- include custom_head.html -%}
</head>
