---
layout: default
---

<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}

<!-- Check if a thumbnail image is specified for the post -->
{% if page.thumbnail %}
    <!-- If a thumbnail image is specified, display it -->
    <img src="{{ page.thumbnail | relative_url }}" alt="Thumbnail">
{% endif %}

<!-- Open Graph metadata -->
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
{% if page.thumbnail %}
    <meta property="og:image" content="{{ page.thumbnail | absolute_url }}">
{% endif %}
<meta property="og:type" content="article">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">

<!-- Twitter Cards metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
{% if page.thumbnail %}
    <meta name="twitter:image" content="{{ page.thumbnail | absolute_url }}">
{% endif %}
